main{
  position: relative;
  flex-grow: 1;
}
#board{
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin: 8px 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#board::-webkit-scrollbar {
  width: 6px;
  height: 15px;
}

#board::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(9, 30, 66, .08);
  border-radius: 10px;
}

#board::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .15);
}


.tasks-list__add-list {
  background-color: hsla(0, 0%, 100%, .24);
  cursor: pointer;
  background-color: #ebecf0;
  border-radius: 3px;
  height: auto;
  min-height: 32px;
  padding: 4px;
  transition: background 85ms ease-in, opacity 40ms ease-in, border-color 85ms ease-in;
  background-color: hsla(0, 0%, 100%, .24);
}
.tasks-list__add-list:last-child {
  margin-right: 8px;
}
.add-list__placeholder{
  color: #fff;
  padding: 6px 8px;
  transition: color 85ms ease-in;
}
.icon-add {
  margin-right: 10px;
}
