.task-card__composer {
  padding-bottom: 8px;
}
.card-add__textarea {
  background: none;
  border: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  overflow-y: auto;
  /* padding: 0; */
  width: 100%;
  overflow-wrap: break-word;
  resize: none;
  margin-bottom: 8px;
}