.add-list__form {
  
}
.add-list__input{
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in,
  background 85ms ease-in;
  width: 100%;
  margin-bottom: 10px;
}