.task-modal__wrapper {
  background-color: #f4f5f7;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  width: 768px;
  z-index: 25;
  width: 90%;
}
.modal-content {
  border: none !important;
}
.task-modal__wrapper.modal-content {
  background-color: #f4f5f7;
  border: none !important;
}
.modal-dialog {
  margin: .5rem auto !important;
}
.modal-dialog-centered {
  min-height: unset !important;
}
.task-modal__close {
  color: #42526e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  overflow: hidden;
  padding: 4px;
  margin: 4px;
  width: 32px;
  z-index: 2;
  transition: background-color 85ms,
  color 85ms;
}
.task-details {
  /* min-height: 600px; */
  background-color: #f4f5f7;
}
.u-clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.task-details__header{
  margin: 12px 40px 8px 56px;
  min-height: 32px;
  position: relative;
  z-index: 1;
}
.task-details__icon {
  left: -35px;
  position: absolute;
  top: 4px;
}
.task-details__title {
  margin: 4px 0 0;
  padding: 8px 0 0;
}
.task-details__title.task-details__input {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  line-height: 24px;
  margin: -4px -8px;
  min-height: 24px;
  padding: 4px 8px;
  resize: none;
  width: 100%;
  border: none;
  overflow: hidden;
  overflow-wrap: break-word;
}
.task-details__list-info {
  cursor: default;
  display: inline-block;
  margin: 4px 8px 4px 2px;
}
.task-details__list-name{
  cursor: pointer;
  text-decoration: underline;
}
.task-details__list-name:hover {
  color: blue;
}
.task-details__main {
  float: left;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 24px;
  padding: 0px 16px 8px 16px;
  position: relative;
  width: 100%;
  z-index: 0;
}
.task-details__task-description {
  clear: both;
  margin-bottom: 24px;
  position: relative;
}
.task-description__title {
  display: flex;
  align-items: center;
  min-height: 32px;
  position: relative;
  margin: 0 0 0px 40px;
  flex-wrap: wrap;
}
.task-description__icon {
  top: 5px;
  left: -40px;
  position: absolute;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}
.task-description__heading {
  display: inline-block;
  width: auto;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.task-description__task-editable {

}
.task-editable__button {
  margin: 0 0 0 8px;
  background-color: rgba(9, 30, 66, .04);
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: inline-block;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}
.task-description__text {
  margin-left: 40px;
  cursor: pointer;
}
.task-description__text p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.task-description__edit {

}
.edit_closed {
  display: none;
}
.edit-controls {
  display: flex;
  align-items: center;
  width: 100%;
}
.description-edit__texarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 08px;
  min-height: 80px;
  background: #fff;
  box-shadow: none;
  width: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  color: #172b4d;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  line-height: 20px;
  padding: 8px 12px;
  transition-property: background-color,
  border-color,
  box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  font-size: 14px;
}
.edit-controls__save-btn {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  margin: 0 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 3px;
  transition-property: background-color,
  border-color,
  box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  font-size: 14px;  
}
.edit-controls__cancel-icon {
  margin-left: 20px;
}
.edit-controls__cancel-icon:hover {
  color: rgb(75, 191, 107);
}
.task-description__author-icon {
  top: 5px;
  left: -40px;
  position: absolute;
  height: 32px;
  line-height: 32px;
  width: 32px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}
.task-details__task-activities {
  clear: both;
  margin-bottom: 24px;
  position: relative;
}
.task-comments {
  position: relative;
  /* margin: 0 0 8px 40px; */
}
.task-comment__author {
  position: absolute;
  left: -40px;
}
.author-initials {
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 32px;
}

.author {
  display: flex;
  align-items: center;
  margin: 0;
}
.delete-button {
  position: relative;
  float: right;
  right: 20px;
  bottom: 15px;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.delete-button:hover {
  background-color: #CD2F3E;
}
.comments-box:last-child {
  margin-bottom: 0px;
}
.task__complete {
  margin-left: auto;
  display: flex;
  align-items: center;
}