.tasks-list{
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.tasks-list:first-child {
  margin-left: 8px;
}
.tasks-list__content{
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}
.tasks-list__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  position: relative;
  min-height: 20px;
}
.tasks-list__title{
  overflow: hidden;
  overflow-wrap: break-word;
  height: 28px;
  resize: none;
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 600;
  /* margin: -4px 0; */
  min-height: 20px;
  /* padding: 4px 8px; */
  resize: none;
  max-height: 256px;
  width: 100%;
  border: none;
}
.tasks-list__extras {
  padding-left: 30px;
}
.tasks-list__cards{
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}
.tasks-list__card-composer{
  min-height: 38px;
  max-height: 38px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.tasks-composer__open{
  border-radius: 3px;
  color: #5e6c84;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
}
.tasks-composer__open .icon-add {
  color: #6b778c;
  margin-right: 10px;
}
.icon-sm {
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  width: 20px;
}
.icon-lg,
.icon-md,
.icon-sm {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  font-size: 23px;
}
.icon-add:before {
  content: "+";
  
}
.hide {
  display: none;
}
